@media only screen and (min-width: 992px) {
	html {
	    font-size: 14px;
	}
}

#sidenav-overlay {
	z-index: 0;
}

body {
	background-image: url("../imgs/body-bg.jpg");
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}


.sectionTitle {
	color: #ee6e73;
}

form {
	background-color: #fff;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}